
<div class="container p-3 text-center mt-3 bg-info col-lg-6">
  <h2>TO-DO list</h2>
  <form action="">
    <input type="text" id="myinput" class="m-0">
    <div class="btn btn-sm btn-danger" id="mybutton">
      Submit
    </div>
  </form>
  <ul class="p-3 list-unstyled" id="mylist">
  </ul>

</div>

