<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2">
  <a class="navbar-brand mx-5" href="/"><i class="far fa-list-alt"></i> TODO/LIST</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link mx-2" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-0" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2" href="#">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle mx-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apps</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">To-do list</a>
          <a class="dropdown-item" href="#">Coming soon</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Suggest your idea</a>
        </div>
      </li>
    </ul>
    <form class="form-inline input-group-sm my-0">
      <input class="form-control mx-0" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-sm btn-outline-success mx-3" type="submit">Search</button>
      <a href="/new" class="btn btn-sm btn-outline-primary mx-0">Create account</a>
      <a href="/login" class="btn btn-sm btn-outline-success mx-3">Log in</a>
    </form>
  </div>
</nav>

<div class="container p-3 text-center mt-3 col-lg-6">
  <div class="bg-dark py-3 rounded text-light">
    <h2>Hello <%= @user.username %></h2>
    <h2>Your TO-DO list</h2>
    <form action="/todo_app/<%= @user.username %>/add_todo_task" method="POST">
      <label for="todoInput"></label> <!--needs to be deleted-->
      <input type="text" name="todo_task" id="todoInput" class="m-0" placeholder="Add a new to-do task">
      <button type="submit" class="btn btn-sm btn-danger" id="submitTodoButton">Submit</button>
    </form>
  </div>
  <ul class="p-0 mt-2 list-unstyled" id="todoList">
    <% @tasks.each do |task| %>
    <li>
      <form action="/todo_app/<%= @user.username %>/delete_todo_task" method="POST">
        <div class="d-flex bg-dark border border-primary">
          <h3 class="bg-dark text-light flex-fill"><%= task.task_name %></h3>
          <button type="submit" class="p-0 btn btn-sm btn-danger mb-1" id="DeleteTaskButton">Delete</button>
        </div>
      </form>
    </li>
    <% end %>
  </ul>
</div>

