<div class="container p-3 text-center mt-3 col-lg-6">
  <div class="bg-dark py-3 rounded text-light">
    <h2>Hello <%= @user.username %></h2>
    <h2>Your TO-DO list</h2>
    <form action="/todo_app/<%= @user.username %>/add_todo_task" method="POST">
      <label for="todoInput">Add a new to-do task</label>
      <input type="text" name="todo_task" id="todoInput" class="m-0">
      <button type="submit" class="btn btn-sm btn-danger" id="submitTodoButton">Submit</button>
    </form>
  </div>
  <ul class="p-0 mt-2 list-unstyled" id="todoList">
    <% if @tasks != nil && @tasks.length > 0 %>
      <% @tasks.each do |task| %>
        <li>
          <h3 class="rounded bg-dark text-light"><%= task.task_name %></h3>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

